<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBLWruOqluiYgl3CA3cStjDT6GvS-eoCJU</string>
	<key>GCM_SENDER_ID</key>
	<string>39942384076</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wpinrui.trackOverflow</string>
	<key>PROJECT_ID</key>
	<string>track-overflow</string>
	<key>STORAGE_BUCKET</key>
	<string>track-overflow.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:39942384076:ios:4372389b438dbd12c29569</string>
</dict>
</plist>